.carrosselHome > .carousel-control-prev > .carousel-control-prev-icon {
  background-image: url("../../assets/CarrosselHome/previous_home.png");
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  color: var(--bs-body-color);
  width: 4vw;
  height: 4vw;
}
.carrosselHome > .carousel-control-next > .carousel-control-next-icon {
  background-image: url("../../assets/CarrosselHome/next_home.png");
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 50%;
  color: var(--bs-body-color);
  width: 4vw;
  height: 4vw;
}
.carrosselHome > .carousel-control-prev,
.carrosselHome > .carousel-control-next {
  max-height: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--bs-body-bg) !important;
}
.carousel-indicators {
  margin-bottom: -2vw !important;
}

.carousel-indicators > button {
  /* background-color: red !important; */
  width: 1vw !important;
  height: 1vw !important;
  border-radius: 50% !important;
  border: 1px var(--bs-body-color) solid !important;
}
.carousel-indicators > .active[data-bs-target] {
  /* background-color: var(--bs-body-color); */

  border: 1px var(--bs-body-color) solid !important;
}
.imgProduto{
  width: 200px;
}

@media (max-width: 360px) {
  .imgProduto{
    width: 150px;
  }
}