.carrosselHome > .carousel-control-prev,.carrosselHome > .carousel-control-next {
  width: 5vw;
  min-width: 20px;
}
.carrosselHome > .carousel-control-prev > .carousel-control-prev-icon {
  background-image: url("../../assets/CarrosselHome/previous_home.png");
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  color: var(--bs-body-color);
  width: 3vw;
  height: 3vw;
  min-width: 20px;
  min-height: 20px;
}
.carrosselHome > .carousel-control-next > .carousel-control-next-icon {
  background-image: url("../../assets/CarrosselHome/next_home.png");
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 50%;
  color: var(--bs-body-color);
  width: 3vw;
  height: 3vw;
  min-width: 20px;
  min-height: 20px;
}
.carrosselHome > .carousel-control-prev,
.carrosselHome > .carousel-control-next {
  max-height: 100%;
}

.carrosselHome > .carousel-indicators [data-bs-target] {
  background-color: var(--bs-body-bg) !important;
}
.carrosselHome > .carousel-indicators {
  margin-bottom: -1vw !important;
}
@media (max-width:768px){
  .carrosselHome > .carousel-indicators {
  margin-bottom: -3vw !important;
}

}
@media (max-width:579px){
  .carrosselHome > .carousel-indicators {
  margin-bottom: -4vw !important;
}

}

.carrosselHome > .carousel-indicators > button {
  /* background-color: red !important; */
  width: 1vw !important;
  height: 1vw !important;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50% !important;
  border: 1px var(--bs-body-color) solid !important;
}
.carrosselHome > .carousel-indicators > .active[data-bs-target] {


  border: 2px var(--bs-body-color) solid !important;
}


/* .colunas{
    height: 25vw;
    
} */
